{% extends "base.html" %}
{% block body %}
<div class="col-lg-12 card-size cards">
	<div class="panel card-background well">
		<div class="panel-heading well card card-header">
			<h1><strong>{{ perfil.nome }}</strong></h1>
			{% if contato_existente %}
				<div class="well well-sm card-background">Vocês estão conectados! :)</div>
			{% else %}
				<strong class="pull-top"><a href="{% url 'convidar' perfil.id %}">convidar</a></strong>
			{% endif %}
		</div>
		<address class="card">
			<!-- <a href="mailto: {{ perfil.email }}">{{ perfil.email }}</a> -->
			<p><strong>Email: </strong>{{ perfil.email }}</p>
			<p><strong>Telefone: </strong>{{ perfil.telefone }}</p><br>
			<p><strong>Nome empresa: </strong>{{ perfil.nome_empresa }}</p><br>
		</address>
	</div>
</div>
{% endblock %}
